$variant: 'light';
$titlebar: 'dark';
$compact: 'false';
$contrast: 'normal';

@import 'sass/variables';
@import 'sass/colors';
@import 'sass/drawing';
@import 'sass/common';
@import 'sass/apps';
@import 'sass/colors-public';
